body {
  background: #1a1a1d;
}

p,
ul,
h3 {
  color: aliceblue;
  list-style-type: none;
}

nav {
  background: red;
}

.movie-wrapper {
  padding: 3rem;
}

.movie {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1a1a1d;
  cursor: pointer;
}

.gray-scale {
  filter: grayscale(100%);
}

.show {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  max-width: 90vw !important;
}

.modal-content {
  background: #c3073f;
  margin: auto;
  height: 90vh;
  background-size: cover !important;
  background-position: center !important;

  &::before {
    content: "";
    position: absolute;
    width: 100.3%;
    height: 100%;
    top: 0;
    left: -1px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, black 100%);
    opacity: 1;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 50px;
  color: white;
  z-index: 20;
}

.close:hover {
  color: #c3073f;
}

.movie:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 20px 40px 0px #1a1a1d;
  transition: opacity 0.3s ease-in-out;
}

.movie:hover {
  z-index: 200;
  transform: scale(1.3, 1.3);
  border: none;
}

.title {
  position: absolute;
  z-index: -1;
  top: 50%;
  color: white;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    box-shadow: 0 0 20px 10px #050505;
  }
}

.info {
  z-index: 2;
  position: relative;

  img {
    width: 30%;
  }
}

.trailer {
  position: relative;
}

.fade-layer {
  position: absolute;
  width: 250px;
  height: 100%;
  left: 0;
  background: white;
  z-index: 3;
  background: linear-gradient(90deg, white 0%, rgba(0, 0, 0, 1) 100%);
  pointer-events: none;
}

.slide-show {
  max-width: 100%;
  height: 40vw;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;

  .slide-btn {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: absolute;
    width: 10%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.6;
    cursor: pointer;
    transition: 0.5s;
    z-index: 3;
  }

  .prev {
    left: 0;

    &:hover {
      opacity: 1;
    }
  }

  .next {
    right: 0;

    &:hover {
      opacity: 1;
    }
  }
}

.slide {
  height: 100%;
  width: 400%;
  transition: 0.5s;
  position: absolute;
  left: 10%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      180deg,
      rgba(0, 5, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    bottom: 0;
    pointer-events: none;
  }

  .hero {
    width: 80%;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
    }

    h3 {
      max-width: 15%;
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: 0.5s;
    }

    &:hover h3 {
      opacity: 1;
    }
  }
}
