body {
  background: #1a1a1d;
}

header {
  z-index: 199;
  background: #c3073f;
}
.container-fluid {
  padding-top: 150px;
  overflow: visible;
}

.movie {
  cursor: pointer;
}

.movie:hover {
  position: relative;
  z-index: 200;
  transform: scale(1.2, 1.2);
  transition: 0.3s;
}

.title {
  position: absolute;
  z-index: -1;
  top: 50%;
  color: white;
}
